<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.gqb.calculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.emple.calculatorqb.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.emple.myview.MainDraw"
            android:label="@string/title_activity_main_draw" >
        </activity>
        <activity
            android:name="com.emple.calculatorqb.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.emple.activity.SkinSetActivity"
            android:label="@string/title_activity_skin_set" >
        </activity>
        <activity
            android:name="com.emple.activity.UnitTablesActivity"
            android:label="@string/title_activity_unit_tables" >
        </activity>
        <activity
            android:name="com.emple.activity.ElementListActivity"
            android:label="@string/title_activity_element_list" >
        </activity>
        <activity
            android:name="com.emple.activity.NoteActivity"
            android:label="@string/title_activity_note" >
        </activity>
        <activity
            android:name="com.emple.activity.VersionInfoActivity"
            android:label="@string/title_activity_version_info" >
        </activity>
        <activity
            android:name="com.emple.calculatorqb.MainAdActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.emple.activity.EleTvSizeActivity"
            android:label="@string/title_activity_ele_tv_size" >
        </activity>
        <activity
            android:name="cn.bmob.paytest.MainActivity"
            android:label="@string/app_name" >
            
        </activity>

        <!-- bmob pay sdk activity start -->
        <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <!-- bmob pay sdk activity end -->
        <activity
            android:name="com.emple.activity.OtherActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
